.container-register {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html{
    font-family: 'Roboto', sans-serif;
  }
  
  body{
    
    background-color: #ebebeb;
  } 